body{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
}
header{
    background: #004669;
background: linear-gradient(90deg, rgba(0, 70, 105, 1) 0%, rgba(0, 51, 61, 1) 50%, rgba(20, 40, 61, 1) 100%);
    color: white;
    padding: 2rem;
}
nav a:hover{
    color: yellow;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 5rem;
    gap: 1rem;
}
.hero img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}