body{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
}
header{
    background: #004669;
background: linear-gradient(90deg, rgba(0, 70, 105, 1) 0%, rgba(0, 51, 61, 1) 50%, rgba(20, 40, 61, 1) 100%);
    color: white;
    padding: 2rem;
}
nav a:hover{
    color: yellow;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #009480;
background: linear-gradient(90deg, rgba(0, 148, 128, 1) 0%, rgba(50, 121, 168, 1) 35%, rgba(0, 140, 168, 1) 100%);
    padding: 5rem;
    gap: 1rem;
}
.hero img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}
.intro h2{
    margin: 0;
}

         .btn-grad {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         .skill-item{
            display: flex;
            justify-content: center;
            width: 15rem
            margin: 0.5rem;
            align-items: center;
            gap: 5rem;
         }
         .skill-item{
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
            gap: 1rem;
         }
         .skill{
            padding: 1rem;
            text-align: center;
            border-radius: 8px;
         }
         .project-card{
            background: #f0f0f0;
            padding: 1rem;
            border-left: 5px solid blue;
            border-radius: 5px;
            margin-top: 1rem;
         }
         .social-icons{
            font-size: 2rem;
            margin-right: 15px;
            color: #444;
            transition: 0.3s;
         }
         .social-icons:hover{
            color: #000;
         }
         footer{
            text-align: center;
            padding: 1rem;
            background: #004669;
background: linear-gradient(90deg, rgba(0, 70, 105, 1) 0%, rgba(0, 51, 61, 1) 50%, rgba(20, 40, 61, 1) 100%);
            color: white;
            margin-top: 2rem;
         }